<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Title</title>

</head>
<header>
    <div class="header">
        <span id="header_text"><a href="/home">На галвную</a> </span>
        <span id="header_text"><a href="/home">Параметры</a> </span>
        <span id="header_text"><a href="/home">Пожелания</a> </span>
    </div>
</header>
<body>
<p id="text_zaglav">Стандартное резиновое покрытие</p>
<p style="text-align: center;"></p>
<p id="text_zaglav">Входные параметры</p>

<div class="tabVhodParam">
    <div class = "divcentr">

        <div class="tabVP">
            <div class="tabVP1">Площадь покрытия, цвет красный</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Площадь покрытия, цвет зеленый</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Площадь покрытия, цвет синий</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Площадь покрытия, цвет жёлтый</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Площадь покрытия, цвет оранжевый</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Площадь покрытия, цвет коричневый</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Толщина покрытия</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">мм</div>
        </div>
    </div>
</div>
<br><br>
<p id="text_zaglav">Результаты расчета</p>
<div class="tabl_raschet">
    <table id="table_raschet" border="1">
        <tbody>
        <tr id="text_height">
            <td id="text1"><p>Стоимость общая</p>
            </td>
            <td id="text4"><p></p>
            </td>
            <td id="text3"> <p>руб</p>
            </td>
            <td id="text2">Общий вес</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность клей</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность праймер</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность черная крошка</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность скипидар</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность пигмента красный</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность пигмента зеленый</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность пигмента синий</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность пигмента жёлтый</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность пигмента оранжевый</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        <tr id="text_height">
            <td id="text1">Потребность пигмента коричневый</td>
            <td id="text4"></td>
            <td id="text3">кг</td>
            <td id="text2">Стоимость</td>
            <td id="text4"></td>
            <td id="text3">руб</td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<p id="text_zaglav">Корректировка стоимости</p>
<div class="tabVhodParam">
    <div class = "divcentr">

        <div class="tabVP">
            <div class="tabVP1">Стоимость связующего, бочка</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость связующего, ведро</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость черная крошка</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость праймера</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость скипидара</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость пигмента, цвет красный</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость пигмента, цвет зеленый</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость пигмента, цвет жёлтый</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость пигмента, цвет синий</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость пигмента, цвет коричневый</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Стоимость пигмента, цвет оранжевый</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">руб/кг</div>
        </div>
    </div>
</div>
<br>
<p id="text_zaglav">Корректировка расхода (на 1 м2 при толщине 10мм)</p>
<div class="tabVhodParam">
    <div class = "divcentr">

        <div class="tabVP">
            <div class="tabVP1">Расход связующего</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Расход черной крошки</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Расход праймера</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Расход скипидара</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
        <div class="tabVP">
            <div class="tabVP1">Расход пигмента</div>
            <div class="tabVP2"><input type="text" size="10"></div>
            <div class="tabVP3">м2</div>
        </div>
    </div>
</div>
</body>
</html>