<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p style="text-align: center;"><strong>Главная страница</strong></p>
<table border="1" style="border-collapse: collapse; width: 100%;">
    <tbody>
    <tr>
        <td style="width: 50%;">
            <p style="text-align: center;"><strong><a href="/standartcov">Стандартное покрытие</a></strong></p>
        </td>
        <td style="width: 50%;">
            <p style="text-align: center;"><strong><a href="/epdmcover">ЭПДМ покрытие</a></strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 50%;">
            <p style="text-align: center;"><strong><a href="/standartSendvich">Стандарт сендвич</a></strong></p>
        </td>
        <td style="width: 50%;">
            <p style="text-align: center;"><strong><a href="/epdmSendvich">ЭПДМ сендвич</a></strong></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>