<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/pricepigment.css">
    <title th:text="${title}"/>

</head>
<header>
    <div class="header">
        <span id="header_text"><a href="/home">На главную</a> </span>
        <span id="header_text"><a href="/parametrs">Параметры</a> </span>
        <span id="header_text"><a href="/home">Пожелания</a> </span>
    </div>
</header>
<body>
<form action="/parametrs" method="post" id="parametrs">
    <p id="text_zaglav">Общие параметры материалов, стоимость и расход</p>

    <p id="text_zaglav">Стоимость пигментов</p>

    <div class="tabVhodParam">
        <div class = "divcentr">

            <div class="tabVP">
                <div class="tabVP1">Красный</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Зеленый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Синий</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Жёлтый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Оранжевый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Коричневый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>

        </div>
    </div>

    <div class="button_raschet">
        <button id="button_raschet" type="submit" form="parametrs">
            Записать
        </button>
    </div>
    <br>



</form>
</body>
</html>