<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/priceepdm.css">
    <title th:text="${title}"/>

</head>
<header>
    <div class="header">
        <span id="header_text"><a href="/home">На главную</a> </span>
        <span id="header_text"><a href="/parametrs">Параметры</a> </span>
        <span id="header_text"><a href="/home">Пожелания</a> </span>
    </div>
</header>
<body>
<form action="/parametrs" method="post" id="parametrs">
    <p id="text_zaglav">Общие параметры материалов, стоимость и расход</p>

    <p id="text_zaglav">Стоимость окрашенной крошки в зависимости от цвета</p>

    <div class="tabVhodParam">
        <div class = "divcentr">

            <div class="tabVP">
                <div class="tabVP1">Терракотовый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Ореховый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Глиняный</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Кирпичный</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Пыльная роза</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Красный</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Розовый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Малиновый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Белый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Бежевый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Слоновая кость</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Жёлтый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Лимонный</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Медовый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Песочный</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Голубой</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Синий стандарт</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Синий электрик</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Морской волны</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Бирюзовый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Тёмно-синий</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Чёрный</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Зеленый стандарт</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Ярко-зеленый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Зеленое яблоко</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>

            <div class="tabVP">
                <div class="tabVP1">Салатовый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Изумрудный</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Оливковый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Фиолетовый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Сиреневый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Коричневый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Светло-коричневый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Тёмно-коричневый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Серый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Светло-серый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
            <div class="tabVP">
                <div class="tabVP1">Тёмно-серый</div>
                <div class="tabVP2"><input type="text" size="10"></div>
                <div class="tabVP3">руб/кг</div>
            </div>
        </div>
    </div>

    <div class="button_raschet">
        <button id="button_raschet" type="submit" form="parametrs">
            Записать
        </button>
    </div>
    <br>



</form>
</body>
</html>